.button {
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
}


.primary {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
}
